---
import "./email-input.scss";
import ErrorMessage from "../ErrorMessage/ErrorMessage.astro";
import HelperText from "../HelperText/HelperText.astro";

const block = Astro.props;
---

{
  block.required && block.helper_text ? (
    <div class="c-email-input">
      <label class="c-email-input__label" for={block.id}>
        {block.label} *
      </label>
      <input
        class="c-email-input__input"
        type="email"
        id={block.id}
        name="_replyto"
        placeholder={block.placeholder}
        required
        aria-describedby={`${block.id}--helper`}
      />

      <HelperText id={block.id} helper_text={block.helper_text} />
      <ErrorMessage id={block.id} />
    </div>
  ) : block.required ? (
    <div class="c-email-input">
      <label class="c-email-input__label" for={block.id}>
        {block.label} *
      </label>
      <input
        class="c-email-input__input"
        type="email"
        id={block.id}
        name="_replyto"
        placeholder={block.placeholder}
        required
      />

      <ErrorMessage id={block.id} />
    </div>
  ) : block.helper_text ? (
    <div class="c-email-input">
      <label class="c-email-input__label" for={block.id}>
        {block.label}
      </label>
      <input
        class="c-email-input__input"
        type="email"
        id={block.id}
        name="_replyto"
        placeholder={block.placeholder}
        aria-describedby={`${block.id}--helper`}
      />

      <HelperText id={block.id} helper_text={block.helper_text} />
      <ErrorMessage id={block.id} />
    </div>
  ) : (
    <div class="c-email-input">
      <label class="c-email-input__label" for={block.id}>
        {block.label}
      </label>
      <input
        class="c-email-input__input"
        type="email"
        id={block.id}
        name="_replyto"
        placeholder={block.placeholder}
      />

      <ErrorMessage id={block.id} />
    </div>
  )
}
